#####################################################
#Luis Armando Leon Munoz
#ELE 430
#Z994806
#Final Project
#Ping Pong game
#####################################################

# ==== Clock inputs (CLK) ====
NET "CLK_50MHZ" LOC = "C9" | IOSTANDARD = LVCMOS33 ;

# Define clock period for 50 MHz oscillator (40%/60% duty-cycle)
NET "CLK_50MHZ" PERIOD = 20.0ns HIGH 40%;

NET "RESET" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;

# ==== Pushbuttons (BTN) ====
NET "btn[0]" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "btn[1]" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN ;

# ==== VGA Port (VGA) ====
NET "rgb[0]" LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "rgb[1]" LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "hsync" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "rgb[2]" LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vsync" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

